.container{
  height: 33vh;
  background-size: cover;
  position: relative;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.citta{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.londra{
  background-image: url(img/london.jpg);
}
