*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 33vh;
  background-size: cover;
  position: relative;
}

.container:hover .layover{
  background-color: rgba(0, 0, 0, 0);
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.citta{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}

.londra{
  background-image: url(img/london.jpg);
}

.tokyo{
  background-image: url(img/tokyo.jpg);
}

.newyork{
  background-image: url(img/newyork.jpg);
}
